<% if logged_in? %>
  <div class="row">
    <aside class="col l4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col l8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Welcome to Materialize Design</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <h3 class="header col s12 light">Start by creating an account</h3>
      </div>
      <div class="row center">
        <%= link_to "Sign Up", new_user_path, class: "btn-large waves-effect waves-light orange" %>
      </div>
    </div>
  </div>
<% end %>
