<% provide(:title, "Login") %>
<div class="section"></div>
  <main>
    <center>
      <h5 class="indigo-text">Please, login into your account</h5>
      <div class="container">
        <div class="login-container z-depth-1 grey lighten-4 row">

          <%= form_for(:session, url: login_path) do |f| %>
            <div class='row'>
              <div class='input-field col s12'>
                <%= f.text_field :email, class: "validate" %>
                <%= f.label :email, "Enter your email" %>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <%= f.password_field :password %>
                <%= f.label :password, "Enter your password" %>
              </div>
              <label style='float: right;'>
                <b><%= link_to "Forgot Password?", new_password_reset_path, class: "pink-text" %></b>
							</label>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  <span>Remember me</span>
                <% end %>
              </div>
            </div>
            <center>
               <br/>
              <div class='row'>
                <%= f.submit "LOG IN", class: "col s12 btn btn-large waves-effect indigo" %>
              </div>
            </center>
          <% end %>
          <div class="row">
            <%= link_to "Sign Up", new_user_path %>
          </div>
        </div>
      </div>
    </center>
  </main>
