<div class="row">
<%= form_with(model: user, local: true) do |form| %>
  <%= render 'shared/error_messages' %>
<div class="row">
  <div class="col l6">
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>
  </div>
  <div class="col l6">
    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="col l6">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
</div>
<% if !current_user.nil? %>
<div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
</div>
<% end %>
<div class="actions">
  <% if !current_user.nil? %>
    <%= form.submit "Update User", :class => 'btn-small waves-effect waves-light light-blue' %>
  <% else %>
    <%= form.submit "Create User", :class => 'btn-small waves-effect waves-light light-blue' %>
  <% end %>

</div>
<% end %>
</div>
