<% provide(:title, "User's Profile") %>
<p id="notice"><%= notice %></p>

<h5>User's Profile</h5>
<hr/>
<div class="row">
  <aside class="col l4">
    <section>
      <h1 class="center-align">
        <% if @user.image.attached? %>
          <%= image_tag(@user.display_avatar, class: "profile-image responsive-img circle z-depth-5") %>
        <% else %>
          <%= image_tag("blank_image", class: "profile-image responsive-img circle z-depth-5 center", size: 200) %>
        <% end %>
      </h1>
      <h5 class="center-align">
        <%= @user.first_name %> <%= @user.last_name %>
      </h5>
      <div class="row center-align">
        <%= render 'follow_form' if logged_in? %>
      </div>
      <section class="stats center-align">
        <%= render 'shared/stats' %>
      </section>
    </section>
  </aside>
  <div class="col l8">
    <% if @user.microposts.any? %>
      <h5>News Feed (<%= @user.microposts.count %>)</h5>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
